.landing-page {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.loader-display {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:  100px;
}

.error {
  @extend .loader-display;
  color: red;
  font-size: 25px;
}
